:root{
     font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
     background-image: url("https://namcuonghotels.com.vn/namcuong/wp-content/uploads/2016/12/New-Year-2016-Esther-smaller5.jpg");
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}
h1{
     color: #fff;
     text-shadow: 0px 0px 5px#333;
     font-size: 70px;
     text-align: center;
     box-shadow: 0 0 5px 0 #333;
}
.text{
     color: #fff;
     text-align: center;
     text-shadow: 0 0 5px #333;
}
.medium-text{
     font-size: 40px;
     font-weight: 300;
}
.big-text{
     font-size: 5rem;
     font-weight: bold;
}
.container{
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     flex-wrap: wrap;     
}

.container .item{
     width: 100px;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.container .item span{
     font-size: 2.5rem;
}

.link-text{
     text-decoration: none;
     transition: all linear 100ms;
}

.info{
     text-align: center;
     position: absolute;
     bottom: 10px;
}
.link-text:hover{
     font-weight: 400;
     text-shadow: 0 0 10px #333;
     background-color: #ffffff50;
     padding: 5px;
     border-radius: 10px;

}